/* app.component.css */

.container {
    background: linear-gradient(to bottom, black, rgb(93, 86, 86));
    color: pink;
    padding: 20px;
}

  
  .input-container {
    margin-bottom: 20px;
  }
  
  .input-container input {
    margin-right: 10px;
    padding: 5px;
    background-color: pink;
    color: black;
  }
  
  .input-container button {
    padding: 5px 10px;
    background-color: pink;
    color: black;
    border: none;
    cursor: pointer;
  }
  
  .book-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .book-table th, .book-table td {
    border: 1px solid pink;
    padding: 8px;
  }
  
  .book-table td {
    text-align: center; /* Align text and buttons to center */
}

.book-table td button {
    margin-right: 10px; /* Add margin between buttons */
    padding: 5px 10px;
    background-color: pink;
    color: black;
    border: none;
    cursor: pointer;
}


  .book-table td button {
    margin-right: 10px; /* Add margin between buttons */
    padding: 5px 10px;
    background-color: pink;
    color: black;
    border: none;
    cursor: pointer;
}

  
  .no-books {
    color: pink;
    margin-top: 10px;
  }
  
  .edit-container {
    margin-top: 10px;
  }
  
  .edit-container input {
    margin-right: 10px;
    padding: 5px;
    background-color: pink;
    color: black;
  }
  
  .edit-container button {
    margin-right: 10px; /* Add margin between buttons */
    padding: 5px 10px;
    background-color: pink;
    color: black;
    border: none;
    cursor: pointer;
}
