<div class="container white-theme">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2 class="h2 white-text">Books List</h2>
  </div>
 
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col" class="white-text">Id</th>
          <th scope="col" class="white-text">Title</th>
          <th scope="col" class="white-text">Price</th>
          <th scope="col" class="white-text">Description</th>
          <th scope="col" class="white-text">Type</th>
          <th class="text-center white-text" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of Books; let i = index">
          <th scope="row">{{book._id}}</th>
          <td>{{book.title}}</td>
          <td>{{book.price}}</td>
          <td>{{book.description}}</td>
          <td>{{book.book_type}}</td>
          <td class="text-center">
            <button class="text-black bg-white hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" routerLink="/edit-book/{{book._id}}">Edit</button>
            &nbsp;<button class="text-black bg-white hover:bg-gray-300 focus:ring-4 focus:outline-none focus:ring-gray-400 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center" (click)="delete(book._id, i)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
