.white-theme {
    background-color: white; /* White background */
    color: black; /* Black text */
}

.white-input {
    background-color: #f1f1f1; /* Light gray background */
    color: #FF69B4; /* Black text */
    border-color: #FF69B4; /* Black border */
}

.white-text {
    color: #FF69B4; /* Black text */
}
